body {
  margin: 0;
  padding: 0;
  font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

.hero {
  width: 100%;
  height: 626px;
  background-color: #404eed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.navbar {
  width: 1260px;
  height: 80px;
  position: absolute;
  top: 0;
  z-index: 1;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80px;
}

.logo {
  height: 100%;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: start;
}

.nav-items {
  width: 60%;
  height: 80px;
  display: flex;
}

.nav-items > ul {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
}

.nav-items > ul > li {
  cursor: pointer;
}

.nav-items > ul > li:hover {
  text-decoration: underline;
}

.nav-btn {
  width: 30%;
  height: 80px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.nav-btn > .login-btn {
  width: 64px;
  height: 38px;
  background-color: #fff;
  border: none;
  border-radius: 40px;
  color: black;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.nav-btn > .login-btn:hover {
  color: #5865f2;
}

.hero-text {
  width: 1260px;
  height: 518px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-container {
  width: 780px;
  height: 279px;
}

.txt {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.txt > h1 {
  font-size: 56px;
  margin: 0;
  color: #fff;
}

.txt > div {
  text-align: center;
  color: #fff;
  line-height: 1.625;
  font-weight: 400;
  padding-top: 25px;
}

.hero-btn {
  width: 780px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.download-btn {
  width: 263px;
  height: 56px;
  background-color: #fff;
  border: none;
  color: black;
  font-weight: 500;
  border-radius: 28px;
  font-size: 20px;
  margin-right: 10px;
  transition: 0.3s ease-in-out;
}

.download-btn:hover {
  color: #5865f2;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.browser-btn {
  width: 318px;
  height: 56px;
  font-size: 20px;
  border-radius: 28px;
  background-color: #23272a;
  color: #fff;
  border: none;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
}

.browser-btn:hover {
  background-color: #313338;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.center {
  position: absolute;
  top: auto;
  bottom: 0;
  right: -330px;
}

.left {
  position: absolute;
  left: 0;
  bottom: 0;
}

.right {
  position: absolute;
  right: 0;
  bottom: 0;
}

.first-section {
  width: 1920px;
  height: 680px;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
}

.first-section > .container {
  width: 1260px;
  height: 680px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.first-section > .container > img {
  width: 678px;
  height: 440px;
}

.first-section > .container > .description > h2 {
  margin: 0 0 50px 0;
  font-size: 48px;
  font-weight: 700;
}

.first-section > .container > .description > .small-text {
  line-height: 1.625;
}

.second-section {
  width: 1920px;
  height: 680px;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
}

.second-section > .container {
  width: 1260px;
  height: 680px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.second-section > .container > .description {
  width: 380px;
  height: 440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.second-section > .container > .description > h2 {
  font-size: 48px;
}

.second-section > .container > .description > .small-text {
  line-height: 1.625;
}

.second-section > .container > img {
  width: 678px;
  height: 440px;
}

.third-section {
  width: 1920px;
  height: 680px;
  background-color: #fff;
  display: flex;
  justify-content: center;
}
.third-section > .container {
  width: 1260px;
  height: 680px;
  display: flex;
  align-items: center;
}

.third-section > .container > img {
  width: 648px;
  height: 440px;
}

.third-section > .container > .description > h2 {
  font-size: 48px;
}

.third-section > .container > .description > div {
  line-height: 1.625;
}

.fourth-section {
  width: 1920px;
  height: 1059px;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
}

.fourth-section > .container {
  width: 1260px;
  height: 1059px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fourth-section > .container > .description {
  width: 980px;
  height: 127px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fourth-section > .container > .description > h2 {
  font-size: 40px;
  text-transform: uppercase;
  line-height: 40%;
  font-weight: 800;
}

.fourth-section > .container > .description > div {
  text-align: center;
  line-height: 1.625;
}

.fourth-section > .container > img {
  width: 1180px;
  height: 716px;
}

.download-section {
  width: 1920px;
  height: 285px;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
}

.download-section > .container {
  width: 1260px;
  height: 165px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.download-section > .container > .img {
  width: 1260px;
  height: 49px;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
}

.download-section > .container > h4 {
  font-size: 32px;
  font-weight: 700;
  z-index: 1;
  margin-top: 30px;
}

.btn-container > button {
  width: 263px;
  height: 56px;
  border-radius: 28px;
  font-size: 18px;
  padding: 16px 32px;
  display: flex;
  justify-content: center;
  background-color: #5865f2;
  border: none;
  color: #fff;
  transition: 0.3s ease-in-out;
}

.btn-container > button:hover {
  background-color: #7983f5;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.btn-container > button > svg {
  margin-right: 10px;
}

.footer {
  width: 1920px;
  height: 611px;
  background-color: #23272a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer > .footer-row-1 {
  width: 1260px;
  height: 396px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #5865f2;
}

.footer > .footer-row-1 > .col-1 {
  width: 360px;
  height: 340px;
}

.footer > .footer-row-1 > .col-1 > .language {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  margin-top: 24px;
}

.footer > .footer-row-1 > .col-1 > .language > img {
  width: 24px;
  height: 16px;
}

.footer > .footer-row-1 > .col-1 > .language > select {
  width: 100px;
  height: 18px;
  background-color: transparent;
  border: none;
  color: #fff;
  margin-left: 10px;
}

.footer > .footer-row-1 > .col-1 > .language > select > option {
  background-color: #23272a;
}

.footer > .footer-row-1 > .col-1 > .social {
  margin-top: 48px;
}

.footer > .footer-row-1 > .col-1 > .social > svg {
  margin-right: 24px;
}

.footer > .footer-row-1 > .col-2 {
  width: 180px;
  height: 356px;
  display: flex;
  flex-direction: column;
}

.footer > .footer-row-1 > .col-2 > h5 {
  color: #5865f2;
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 10px 0;
}

.footer > .footer-row-1 > .col-2 > span {
  margin-top: 8px;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}

.footer > .footer-row-1 > .col-2 > span:hover {
  text-decoration: underline;
}

.footer > .footer-row-1 > .col-3 {
  width: 180px;
  height: 356px;
  display: flex;
  flex-direction: column;
}

.footer > .footer-row-1 > .col-3 > h5 {
  color: #5865f2;
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 10px 0;
}

.footer > .footer-row-1 > .col-3 > span {
  margin-top: 8px;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}

.footer > .footer-row-1 > .col-3 > span:hover {
  text-decoration: underline;
}

.footer > .footer-row-1 > .col-4 {
  width: 180px;
  height: 356px;
  display: flex;
  flex-direction: column;
}

.footer > .footer-row-1 > .col-4 > h5 {
  color: #5865f2;
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 10px 0;
}

.footer > .footer-row-1 > .col-4 > span {
  margin-top: 8px;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}

.footer > .footer-row-1 > .col-4 > span:hover {
  text-decoration: underline;
}

.footer > .footer-row-1 > .col-5 {
  width: 180px;
  height: 356px;
  display: flex;
  flex-direction: column;
}

.footer > .footer-row-1 > .col-5 > h5 {
  color: #5865f2;
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 10px 0;
}

.footer > .footer-row-1 > .col-5 > span {
  margin-top: 8px;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}

.footer > .footer-row-1 > .col-5 > span:hover {
  text-decoration: underline;
}

.footer > .footer-row-2 {
  width: 1260px;
  height: 71px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.footer > .footer-row-2 > .icon > svg {
  width: 124px;
  height: 34px;
}

.footer > .footer-row-2 > .signup-btn > button {
  width: 76px;
  height: 38px;
  border-radius: 40px;
  font-size: 14px;
  background-color: #5865f2;
  border: none;
  color: #fff;
  padding: 7px;
  line-height: 24px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s ease-in-out;
}

.footer > .footer-row-2 > .signup-btn > button:hover {
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  background-color: #7983f5;
}
